body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero {
  background-color: #1d2021;
  color: #d5c4a1;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.header ul a {
  text-decoration: none;
  color: #d5c4a1;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.left {
  width: 500px;
}

.left h1 {
  font-size: 48px;
  margin: 8px 0;
  line-height: 1;
}

.left p {
  font-size: 16px;
  margin: 5px 0;
}

.left button {
  background-color: #1d2021;
  color: #d5c4a1;
  border: 2px solid #d5c4a1;
  padding: 6px 24px;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 16px;
}

.main img {
  border: 2px solid #d5c4a1;
  font-size: 20px;
  padding: 100px;
  border-radius: 6px;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information h2 {
  font-size: 34px;
}

.information .container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.container .box {
  width: 220px;
}

.box img {
  border-radius: 6px;
}

.quote {
  background-color: #1d2021;
  color: #d5c4a1;
  padding: 50px;
}

.quote p {
  margin: auto;
  width: 800px;
  font-size: 32px;
  font-style: italic;
}

.quote .author {
  text-align: right;
}

.newsletter {
  background-color: #1d2021;
  color: #d5c4a1;
  margin: 40px 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 6px;
  padding: 20px;
}

.newsletter p {
  font-size: 18px;
  margin: 5px 0;
}

.newsletter button {
  background-color: #1d2021;
  color: #d5c4a1;
  border: 2px solid #d5c4a1;
  border-radius: 6px;
  padding: 6px 26px;
  font-size: 18px;
}

.footer {
  background-color: #1d2021;
  color: #d5c4a1;
  font-size: 20px;
  margin: 0;
  padding: 2px;
  text-align: center;
}

.bold {
  font-weight: bold;
}



























